*{
    text-decoration:none;
}
._main{
    width: 1200px;
    margin: auto;
}
.heading_title{
    width: fit-content;
    margin: auto;
    padding: 12px;
    font-size: 30px;
    font-weight: 700;
    color: #394150;
}
.heading_title_left{
    width: fit-content;
    /* margin: auto; */
    padding: 12px 12px 12px 0px;
    font-size: 30px;
    font-weight: 700;
    color: #394150;
}
.heading_tilte_border{
    margin: auto;
    margin-bottom: 32px;
    width: 48px;
    border-bottom: 2px solid rgb(255,19,62);
}
.heading_tilte_border_left{
    /* margin: auto; */
    margin-bottom: 32px;
    width: 48px;
    border-bottom: 2px solid rgb(255,19,62);
}
.background_setting .bg_img{
    width: 100%;
    display:block;
}
.nav{
    /* width: 1200px; */
    /* margin: auto; */
    background-color: #fff;
}
.nav_logo{
    display:flex;
    justify-content: space-between;
}
.nav .nav_logo .nav_logo_link{
    padding: 20px;
}
.nav .nav_logo .logo_title{
    display: inline;
    font-size: 18px;
    color: black;
}
.nav .nav_logo .nav_menu .nav_menu_list{
    padding: 20px;
}
.nav .nav_logo .nav_menu .nav_menu_list .menu_items{
    margin: 0px 16px;
    font-size: 20px;
    color:black
}/* end of navigation */

.banner{
    width: 100%;
    /* background-color: #f3f3f3; */
}
.banner .banner_items{
    /* margin: 0px 88px; */
    padding: 24px;
}
.banner .banner_items .banner_items_h2{
    /* color:red;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; */
    /* font-size: 0px; */
    /* background-color: #f00; */
    color:#000;
    width: fit-content;
    margin: auto;
    display: none;
}
.banner .banner_items .banner_items_link img{
    width: 100%;
    border-radius: 10px;
}/* end of banner */

.container{
    margin: 40px 88px 192px;
    padding: 24px;
}
.container .heading_summary{
    width: fit-content;
    margin: auto;
    font-size: 20px;
}
.container .intro{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container .intro_item{
    width: 325px;
    padding: 0px 20px;
    box-sizing: border-box;
}
.container .intro_item img{
    width:  230px;
    display: block;
    margin: auto;
}
.container .intro_item .item_H3{
    padding: 16px 0px 8px;
    font-size: 1.125rem;
    font-weight: 700;
    text-align:center;
}
.container .intro_item p {
    text-align:center;
}
.containe .backgound_img{
    width: 100%;
}
/* end of container */

.instructors{
    padding: 40px 100px 80px;
    background-color: #f9fafb;
}
.instructors .instructors_heading{
    margin-bottom: 40px;
    padding: 0px 11rem;
}
.instructors .heading_summary{
    /* width: fit-content; */
    /* margin: auto; */
    font-size: 20px;
}/* end of instructors heading */

.instructors .instructors_group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
    /* background-color: #aaa; */
}
.instructors .instructors_group .introduction{
    width: 472px;
    margin: 15px 0px;
    padding: 40px;
    box-sizing: border-box;
    /* border: 1px solid #e5e7eb; */
    border-radius: 10px;
    background-color: #fff;
}

.introduction .personal_data{
    padding: 12px ;
    display: flex;
    border-bottom: 1px solid #e5e7eb;
}
.introduction .personal_data .instructors_img{
    width: 160px;
    /* background-color: #aaa; */
}
.instructors .personal_data .instructors_img img{
    width:100%;
    border-radius: 50%;
}
.introduction .personal_data .instructors_name{
    margin-left: 20px;

}
.introduction .personal_data .instructors_name .sns_icons {
    width: 100%;
    margin-top: 1.5rem;
    /* display: flex;
    justify-content: flex-start; */
}
.introduction .personal_data .instructors_name .sns_icons i{
    color: #acafb5;
    font-size: 1.4rem;
    padding: 5px;

}
.instructors .personal_data .position{   
    margin-bottom: 8px;
}

.instructors .personal_data .position_border{
    margin-bottom: 32px;
    width: 40px;
    border-bottom: 2px solid rgb(255,19,62);
}
.instructors .personal_data .sns_icons{
    width: 20px;
}
.introduction .paragraphs{
    margin: 28px 0px;
}
.introduction .paragraphs .statement{
    margin-bottom: 8px;
    line-height: 1.5;
}
.introduction .paragraphs .statement_link{
    color:#ff133e
}
.introduction .other_course_items{
    margin: 16px 16px 16px 0px;
    display: flex;
    align-items: center;
}
.introduction .other_course_items .other_course{
    width: 9rem;
    /* width: fit-content; */
    display: inline-block;
    /* position: relative; */
}
.introduction .other_course_items .other_course_style{
    width: 100%;
    display: inline-block;
}
.introduction .course_link .course_button{
    margin: 0px 16px 16px 0px;
    padding: 4px 12px;
    display: inline-block;
    color:#ff133e;
    border: 1px solid #ff133e;
    border-radius: 5px;
}/* end of instructors */

.media{
    padding: 32px 100px 100px;
    background-color: #f9fafb;
}
.media .media_group{
    width: 100%;
    margin-top: 64px;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.media .media_group .madia_item{
    width: 45%;
    /* margin: px; */
    padding-bottom: 12px;
    box-sizing: border-box;
    margin: 10px;
    
    /* color: #394150; */
}
.media .madia_item .media_item_news{
    padding-bottom: 12px;
    font-size: 25px;
    display: inline-block;
    font-weight: 700;
    color: #394150;
}
.media .madia_item .news_date{
    font-size: 18px;
}
.media .media_button{
    width: 100%;
    padding: 12px 32px;
    margin: auto;
    font-size: 1.125rem;  
    width: fit-content;
    display: block;
    background-color: #ff153f;
    color: #fff;
    border-radius: 7px;
}/* end of media */

.courseIntro{
    padding: 80px 100px 32px 100px;
    background-color: #29303E;
}
.courseIntro .course_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.courseIntro .course_heading{
    width: 47%;
}
.courseIntro .course_container .course_heading h2{
    color:#fff;
}
.courseIntro .course_container .heading_summary{
    color:#a0a6b1;
    font-size: 20px;
}
.courseIntro .coursestyle{
    width: 47%;
    background-color: #ff133e;

}
.courseIntro .course_container .coursestyle_img{
    width: 100%;
    display: block;
}
.courseIntro .coursestyle .coursestyle_intro{
    padding: 1rem;

}
.courseIntro .course_container .coursestyle_intro_h4{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color:#fff;
}
.courseIntro .course_container .coursestyle_intro_p{
    margin-bottom: 8px;
    line-height: 1.5;
    color:#fff;
}
.courseIntro .course_container .coursestyle_intro_link{
    padding: 0.5rem, 0.5rem, 0.5rem, 0;
    color:#fff;

}
.courseIntro .RecentCourses .RecentCourses_heading{
    margin: 1.5rem 0px 1.5rem ;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color:#fff;
}
.courseIntro .Recent_items{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.courseIntro .Recent_items .Recent_items_group{
    width: 370px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 10px;
}
.courseIntro .Recent_items .Recent_items_group .course_img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.courseIntro .Recent_items .Recent_items_group .course_date{
    border: 1px solid #e5e7eb;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color: #6c727f;
    font-size: 0.75rem;
}
.courseIntro .Recent_items .Recent_items_group .course_teacher{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e7eb;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.courseIntro .Recent_items .Recent_items_group .course_teacher .teach_img{
    width: 1rem;
}
.courseIntro .Recent_items .Recent_items_group .teacher_name{
    color:#a0a6b1;
    display: flex;
    justify-content: space-between;
}
.courseIntro .Recent_items .Recent_items_group .course_teacher .teach_icon{
    width: 1rem;
    transform: rotate(0.5turn);
}
.RecentCourses .level_1{
    color:	#60A5FA;
}
.RecentCourses .level_2{
    color: #34D499;
}
.RecentCourses .level_3{
    color: #F87171;
}

.courseIntro .more_course{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.courseIntro .more_course .more_course_button{
    margin: auto;
    width: 100px;
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border-radius: 5px;
}

.studyRoute{
    padding: 32px 100px 50px;
    background-color: #f9fafb;
}
.studyRoute .heading_summary{
    margin-right: 300px;
    margin-bottom: 50px;
    font-size: 20px;
}

.studyRoute .route_plan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.studyRoute .route_plan .plan_name{
    width:47%;
    background-color: #fff;
    border-radius: 10px;
}
.studyRoute .route_plan .plan_name .plan_name_img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.studyRoute .route_plan .plan_name .route_intro{
    padding: 1.25rem;
}
.studyRoute .route_plan .plan_name .link_style_h4{
    /* margin-bottom: 10px; */
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    color:#394150;
    border-bottom: 1px solid #e5e7eb;
}
.studyRoute .route_plan .plan_name .route_intro_summary{
    margin: 1rem 0px;
    color:#394150;
}
.plan_intro_go{
    color: #ff133e;
}/* end of studyroute */

.article{
    width: 100%;
    padding: 0px 1.5rem;
    box-sizing: border-box;
}
.article .article_group{
    width: 100%;
    display: flex;
}
.article .article_group .article_item{
    width: 100%;
    margin: 30px;
    overflow: hidden;
}
.article_itemImg .article_link{
    width: 100%;
    height:  100%;
    display: block;
}
.article .article_group .article_item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px 10px 10px 10px ;
}
.article_item .article_item_paragraphs{
    padding: 1.25rem 0px;
}
.article_item .article_item_paragraphs .item_H3{
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #394150;
}
.article_item .article_item_paragraphs .article_smail{
    font-size: 0.75rem;
    color: #A1A6B1;
}
.article .article_button{
    width: 100%;
    padding: 12px 32px;
    margin: 50px auto 50px;
    font-size: 1.125rem;  
    width: fit-content;
    display: block;
    background-color: #ff153f;
    color: #fff;
    border-radius: 7px;
}/* end of article */


.footer{
    width: 100%;
    background-color: #29303E;
}
.footer .foote_all{
    margin: 0 7rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.footer .foote_all .fx_info{
    width: 40%;
}
.footer .foote_all .fx_info .fivexaddress{
    margin: 20px 0;
}
.footer .foote_all .fx_info .fivexaddress a{
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #fff;
}

.footer .footerLink_group{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    
}
.footer .footerLink_group .footerLink_item{
    width: 33%;
    padding-bottom: 4rem;
}
.footer .footerLink_group .footerLink_item h2{
    padding-bottom: 1rem;
    color: #e5e7eb;
    font-weight: 700;
}
.footer .footerLink_group .footerLink_item a{
    padding: 0.5rem 0;
    display: block;
    color: #e5e7eb;
    font-size: 0.875rem;
}

.footer .footer_icon_group{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer .footer_icon_group i{
    margin: 20px;
    font-size: 30px;
    color: #e5e7eb;
}

.footer .footer_5xname{
    padding: 1rem 0.5rem;
    background-color: #181e2d;
    font-size: 0.875rem;
    color: #a0a6b1;
    text-align: center;

}